body {
    font-family: Arial, sans-serif;
    margin: 40px;
    padding-left: 20px;
    padding-right: 20px;
}

nav {
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav il {
    display: inline;
}

nav a {
    display: block;
    background-color: #0c1868;
    color: white;
    border-bottom: solid white;
    padding: 10px 10px;
}

nav a:hover {
    background-color: #525675;
    color: white;
}

.allnav {
    color: white;
}

header {
    background-color: #0c1868;
    color: white;
    text-align: center;
    padding: 5px;
}

#treepic{
    width: 250px;
    border: thin solid #0c1868;
    float: left;
    text-align: center;
}

#treepic img {
    width: 250px;
}

.end {
    clear: both;
}

h2 {
    color: #0c1868;
    margin-top: 30px;
}

main h1 {
    color: #0c1868;
    text-align: center;
}

footer {
    text-align: center;
    background-color: #0c1868;
    color: white;
    margin-top: 40px;
    padding: 10px;
}