body {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 50px;
    padding: 0;
}

nav {
    margin-top: -30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    padding: 10px;
}  

h1 {
    color: rgb(11.52, -0.39, -17.95);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 50px;
    text-align: center;
}

h2 {
    color: blue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

    text-align: center;
}

h3 {
    color: red;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* my id */
#the_p {
    color: darkorange;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* my class */
.main_p {
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* my span */
#firstSong {
    color: purple;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
}

p {
    color: green;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

footer {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    padding: 10px;
    margin-top: 50px;
    border-radius: 30px;
    border-style: dotted;
}

#emphasize {
    color: red;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}

#de-emphasize {
    color: green;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}