body {
    font-family: 'Roboto', sans-serif;
    background-color: rgb(red, green, blue);
    max-width: 80%;
    position: center;
    margin: auto;
}

header h1 {
    text-align: center;
    color: brown;
    background-color: white;
}

nav {
    background-color: brown;
    text-align: center;
    padding: 10px;
}

nav a {
    color: white;
    text-decoration: none;
}

nav a:hover {
    color: black;
}

.card {
    width: 250px;
    border: thin solid black;
    box-shadow: 5px 5px 5px rgba(50, 50, 50, 0.5);
    margin: 10px 0;
}

.card img {
    width: 100%;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}