body {
    min-block-size: 100vb;
    font-size: 1.4em;
    background-image: linear-gradient(to bottom, rgb(17, 24, 39), rgb(75, 85, 99));
    font-family: "Parkinsans", Arial, sans-serif;
    line-height: 1.5;
    color: rgb(75, 85, 99);
}

.container {
    margin: 1em;
}

img {
    width: 300px;
    height: auto;
    border-radius: 100px;
}

.maininfo {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid green;
    margin: 20px 0 50px;
}

.maininfo {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid green;
    margin: 20px 0 50px;
}

.leftinfo {
    flex: 25%;
}

.rightinfo {
    flex: 50%;
    text-align: right;
    padding-block: 3rem;
    row-gap: 1rem;
    padding-inline: 3rem;
    padding: 2rem;
    margin: 2rem;
}

.header_b {
    /* center my text */
    text-align: center;
    padding-block: 3rem;
    row-gap: 1rem;
    padding-inline: 3rem;
    padding: 2rem;
    margin: 2rem;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    /* set background color to rgb(17, 24, 39); and opacity to 50% */
    background-color: rgba(17, 24, 39, 0.5);
    padding-block: 3rem;
    row-gap: 1rem;
    padding-inline: 3rem;
    padding: 2rem;
    margin: 2rem;
    border-radius: 10px;
}

.header_img {
    display: block;
    height: auto;
    max-width: 100%;
}

.header_logo {
    margin: 0;
}

.header_ul {
    display: flex;
    list-style: none;
    gap: 1rem;
    padding: 0;
    margin: 0;
}


.header__a {
    /* set color opacity to 50% and color whitesmoke; */
    padding-inline: 1.5rem;
    padding-block: 0.8rem;
    color: rgba(255, 255, 255, 0.5);
    text-decoration: none;
    transition: color 0.2s ease-in-out;
    background: rgb(17, 24, 39, 0.99);
    border-radius: 5px;
    display: block;
    /* set text to 20% smaller */
    font-size: 0.8em;
}

.header__a:hover {
    /* set color opacity to 50% and color whitesmoke; */
    color: whitesmoke;
    text-decoration: none;
}

.maininfo {
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 10px;
    text-align: center;
    color:#181368;
}

.maininfo h2 {
    color: #181368;
    text-align: center;
}

.tabledesc {
    margin-top: 1rem; 
    font-style: italic; 
    color: #555;
}

@media screen and (max-width: 1100px) {
    .header {
        flex-direction: column;
    }


    .header_ul {
        justify-content: center;
        margin-block-end: 0;
        flex-wrap: wrap;
        justify-content: center;
    }
    
    body {
        /* background: red */
    }

}