nav{
    background-color: #1a1c34;
    padding: 10px;
    margin: 20px;
    margin-top: 0%;
    text-align: center;
    color: white; 
    text-decoration: none;
    border-radius: 0% 0% 50% 50%;
}

.homelink {
    color: white;
}


.churchlogo {
    width: 49%;
    margin: 20px;
    margin-top: 0%;
    margin-bottom: 0%;
}

figure {
    float: left;
    width: 45%;
    padding: 5px;
    margin: 20px;
    border: 1px solid #ccc;
    background-color: #f9d0d0;
    text-align: center;
}

body {
    font-family: 'Lucida Sans', Arial, Helvetica, sans-serif
}    

h1 {
    color: #333;
    text-align: center;
    padding-top: 2px;
    padding-bottom: 20px;
    border-bottom: 1px solid #ccc;
}

.middle {
    width: 90%;
    margin: 0 auto;
}

footer {
    position: fixed;
    bottom: 0;
    width: 92%;
    background-color: #1a1c34;
    padding: 10px;
    margin: 20px;
    margin-top: 0%;
    text-align: center;
    color: white; 
    border-radius: 50% 50% 0% 0%;
}